<nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rent IT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <form class="d-flex">
            <input class="form-control mt-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon class="mat-icon-accoun mt-2">account_circle</mat-icon>
            <span *ngIf="isLoggedIn" class="aligned-with-icon">{{username}}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li *ngIf="!isLoggedIn">
              <a class="dropdown-item" [routerLink]="['/signin']">
                <mat-icon class="pt-2 pr-3">lock_open</mat-icon>Sign In
              </a>
            </li>
            <li *ngIf="isLoggedIn"><a class="dropdown-item" (click)="Signout()">
                <mat-icon>exit_to_app</mat-icon>Sign Out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>