<div class="card">
    <div class="row">
        <div class="col-4">
            <h2 class="card-header">Rental Details</h2>
        </div>
        <div class="col-4"></div>
        <div class="col-4"><button mat-raised-button  class="close-modal" color="warn" (click)="activeModal.close('Closed') ; closeModal()">Close</button></div>  
    </div>
    <div class="card-body">
        <h5 class="card-title">You ordered this Rental on &nbsp; {{actualRental?.rentDate | date}} </h5>
        <p class="card-text">This Rental content following articles:</p>

        <div class="col">
            <div class="card shadow">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <caption>Table of all rented articles</caption>
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Article Image</th>
                                <th scope="col">Article Name</th>
                                <th scope="col">SubTotal</th>
                                <th scope="col">quantity</th>
                                <th scope="col">returned</th>
                                <th scope="col">returnDate</th>
                                <th scope="col">returnedDate</th>
                                <th scope="col">rentalDate</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let articleQuantity of articleQuantities">
                                <th scope="row">
                                    <img *ngIf="articleQuantity.article.images[0]" class="img-product" [src]="articleQuantity.article.images[0].imageLink" alt="">
                                </th>
                                <td class="text-left">{{ articleQuantity.article.name }}</td>
                                <td class="text-left">{{ articleQuantity.subTotal }}</td>
                                <td class="text-left">{{ articleQuantity.quantity }}</td>
                                <td class="text-left"> <mat-icon class="text-success" *ngIf="articleQuantity.returned">check</mat-icon> <mat-icon color="warn" *ngIf="!articleQuantity.returned">close</mat-icon> </td>
                                <td class="text-left">{{ articleQuantity.returnDate | date }}</td>
                                <td class="text-left">{{ articleQuantity.returnedDate | date }}</td>
                                <td class="text-left">{{ articleQuantity.rentalDate | date }}</td>
                                <td class="text-center">
                                    <button [disabled]="articleQuantity.returned" mat-raised-button color="primary" (click)="returnArticle(articleQuantity.articleQuantityId)"><mat-icon color="link" >keyboard_return</mat-icon></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br><br>
        
    </div>
</div>