body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

header {
  height: auto;
}

main {
  height: auto;
  overflow: auto;
  padding-top: 0;
  padding-bottom: 40px;
  margin-top: 3rem !important;
  margin-bottom: 6rem !important;
}

footer {
  position: fixed;
  height: auto;
  clear: both;
  background-color: rgba(63, 63, 243, 0.849);
  padding: 20px;
  margin: 0;
  width: 100%;
  bottom: 0;
  text-align: center;
  margin-top: 0;
}
