.box-categories {
    width: 20rem;
    margin-top: 60px;
    text-decoration: none;
    margin-right: 5rem;
}

.box-categories img {
    width: 20rem;
    height: 13rem;
    margin-left: -12px;
}

.box-categories a {
    text-decoration: none;
    color: black;
}

.cat-row {
    margin-left: 60px;
}

.card-title {
    text-decoration: none;
    color: black;
}

.add-card {
    height: 40px;
}