<div class="container">
    <div class="row text-center">
        <h1>Welcome to Rent IT</h1>
        <h3>Rent your It-Devices</h3>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                        aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
                        aria-label="Slide 8"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8"
                        aria-label="Slide 9"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                        aria-label="Slide 10"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://rentitbucket.s3.amazonaws.com/pw8iWDWUVBFcUu7E3iwijV.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://rentitbucket.s3.amazonaws.com/cCS2XU9a4Pg373zMH39xQ8.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://rentitbucket.s3.amazonaws.com/d5n9PzhgZjkieVWB9Ses6A-1200-80.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://rentitbucket.s3.amazonaws.com/hisense-65u8gq-led-fernseher-164-cm-65-zoll-4k-ultra-hd-smart-tv-quantum-dot-uled-technologie-120hz-panel-usb-recording.jpg"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://rentitbucket.s3.amazonaws.com/in-crystal-uhd-au8000-384041-ua55au8200klxl-427686889.webp"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://rentitbucket.s3.amazonaws.com/in-uhd-4k-tv-ua43aue60aklxl-samsung-uhd-au-----is-hanging-on-the-wall-showing-picture-with-purcolor-436322441.webp"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://rentitbucket.s3.amazonaws.com/lg-32ud99-4k-monitor-main1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://rentitbucket.s3.amazonaws.com/maxresdefault.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://rentitbucket.s3.amazonaws.com/moWbzkvuFnGAJ49sRjQkxW.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://rentitbucket.s3.amazonaws.com/asus-vivomini-monitor.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row text-center mt-5">
        <h2>Some of our categories</h2>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card box-categories">
                <img src="https://rentitbucket.s3.amazonaws.com/lg-32ud99-4k-monitor-main1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{categories[0]?.name}}</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a [routerLink]="['/categorie/', categories[0]?.categoryId]" class="btn btn-primary">see
                        Articles</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card box-categories">
                <img src="https://rentitbucket.s3.amazonaws.com/backbeat-500-dark-grey-straight-on.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{categories[1]?.name}}</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a [routerLink]="['/categorie/', categories[1]?.categoryId]" class="btn btn-primary">see
                        Articles</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card box-categories">
                <img src="https://rentitbucket.s3.amazonaws.com/Sony-Xperia-5-III-vs-1-1024x536.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{categories[2]?.name}}</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a [routerLink]="['/categorie/', categories[2]?.categoryId]" class="btn btn-primary">see
                        Articles</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center mt-3 see-all">
        <h2><a [routerLink]="['/categories']">See all categories &#8649;</a></h2>
    </div>
    <div class="row text-center mt-5">
        <h2>Some products that can interest you</h2>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card box-categories">
                <div class="row">
                    <a [routerLink]="['/articles/', articles[0]?.articleId]" class="box-articles">
                        <img [src]="articles[0]?.images[0]?.imageLink" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{articles[0]?.name}}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                        </div>
                    </a>
                </div>
                <div class="row text-center">
                    <div class="col-6">
                        <button class="btn btn-outline-primary">{{articles[0]?.price}} &#x20AC;</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-outline-primary add-card" (click)="addToCard(articles[0])"><mat-icon>add_shopping_cart
                            </mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card box-categories">
                <div class="row">
                    <a [routerLink]="['/articles/', articles[1]?.articleId]" class="box-articles">
                        <img [src]="articles[1]?.images[0]?.imageLink" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{articles[1]?.name}}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                        </div>
                    </a>
                </div>
                <div class="row text-center">
                    <div class="col-6">
                        <button class="btn btn-outline-primary">{{articles[1]?.price}} &#x20AC;</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-outline-primary add-card" (click)="addToCard(articles[1])"><mat-icon>add_shopping_cart
                            </mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card box-categories">
                <div class="row">
                    <a [routerLink]="['/articles/', articles[2]?.articleId]" class="box-articles">
                        <img [src]="articles[2]?.images[0]?.imageLink" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{articles[2]?.name}}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                        </div>
                    </a>
                </div>
                <div class="row text-center">
                    <div class="col-6">
                        <button class="btn btn-outline-primary">{{articles[2]?.price}} &#x20AC;</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-outline-primary add-card" (click)="addToCard(articles[2])"><mat-icon>add_shopping_cart
                            </mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br>
